
/*global */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'lato', sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url("images/background.jpg") no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
}

section{
   padding: 6rem 0; 
}

a{
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}

video{
    width: 100%;
}

/* end global*/

/*start reusable*/
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 6rem;
}

.section-heading h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.section-heading h1::before{
    width: 15rem;
    height: 3px;
    border-radius: 1rem;
    background: linear-gradient(to top, #276174, #33c58e, #63fd86 );
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
    background: #33c58e;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;

}

.has-margin-right{
    margin-right: 5rem;
}
/*end reusable*/

/*start header*/
header{
    width: 100%;
    height: 100vh;

}

.top-nav {
    overflow: hidden;
    background-color: #383838;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
.top-nav a {
    float: left;
    display: block;
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5rem;
  }
  
.top-nav a:hover {
    background: #33c58e;
  }

  .top-nav .icon {
    display: none;
  }
  


.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
   

}

.landing-text h1{
    font-size: 20rem;
    font-family: 'lato', sans-serif;
    background: linear-gradient(to top, #276174, #33c58e, #63fd86 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
}

.landing-text a{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'lato', sans-serif;
}

.landing-text i{
    margin-left: .5rem;
}
/*end header*/

/*start about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.about-heading{
  text-align: center;  
  line-height: normal;
  margin-bottom: 6rem;

}

.about-heading h1{
    font-size: 10rem;
    position: relative;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.about-heading h1::before,
.about-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.about-heading h1::before{
    width: 15rem;
    height: 3px;
    border-radius: 1rem;
    background: linear-gradient(to top, #276174, #33c58e, #63fd86 );
}

.about-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
    background: #33c58e;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;

}

.profile-img{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex: 1;
}
/*end about*/

/*start projects*/
.projects .container{
    margin-top: 10rem;
}

.project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.project-item:last-child{
    margin-bottom: 0;
}

.project-img{
    width:50rem;
    flex: 1;
}

.project-video{
    width: 50rem;
    flex: 1;
}

.project-description{
    flex: 1.5;
}

.project-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}
.project-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

.project-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    color:  #33c58e;
    transition: color 650ms;
}

.project-description .cta:hover{
    color:#63fd86;
}
/*end projects/

/*start timeline*/
.timeline ul{
    border-left: 4px solid #33c58e;
    border-radius: .8rem;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    position: relative;
    list-style: none;
    text-align: left;
    width: 70%;
    padding: 5rem;
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;

}

.timeline .date{
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #33c58e;
    border-radius: 100%;
    left: -6rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #276174;
}
/*end timeline*/

/*start contact*/

.contact-details{
    text-align: center;
}

.contact-details i{
    font-size: 5rem;
    transition: color 650ms;
}

.contact-details ul li{
    display: inline;
}

.social-icons{
    margin-top: 2rem;
}

.fa-github-square:hover{
    color: #6e5494;
}

.fa-linkedin:hover{
    color: #0077b5;
}
/*end contact*/

/*start footer*/
.copyright{
    width:100%;
    text-align: center;
    background-color: #383838;
    padding: 2rem;
    position: relative;
}
.copyright p{
    font-size: 1.5rem;
}
/*end footer/

/*start animations*/

/*end animations*/

/*start media queries*/
@media screen and (max-width: 768px){
    .landing-text h1{
        font-size: 10rem;
    }

    .landing-text a{
        font-size: 1.5rem;
    }

    .about-heading h1,
    .section-heading h1{
        font-size: 3rem;
    }

    .about-heading h6,
    .section-heading h6{
        font-size: 2rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }

    .timeline .date::before{
        left: -20rem; 
    }
    .timeline .date::after{
        left: -6rem;
    }

    
}

@media screen and (max-width: 600px){
   

.top-nav a:not(:first-child) {display: none;}
  .top-nav a.icon {
    float: right;
    display: block;
  }
  
  .top-nav.responsive {position: relative;}
  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

    .landing-text h1{
        font-size: 8rem;
    }

    .landing-text a{
        font-size: 1.5rem;
    }


    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin: 0 0 7rem 0;
    }

    .about-heading h1,
    .section-heading h1{
        font-size: 2rem;
    }

    .about-heading h6,
    .section-heading h6{
        font-size: 1.7rem;
    }

    .project-item{
        flex-direction: column;
    }

    .project-img,
    .project-video{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .project-description{
        margin: 0;
        order: 2;
    }

    .timeline p{
        font-size: 1.5rem;
    }

    .timeline .date::before{
        font-size: 1.5rem;
    }

    
}
/*end media queries*/